@media (max-width: 768px) {
.second-div {
margin-left: 5%;
}
}

.con{
    display: flex;
    margin:0;
    font-size: 1.3rem;
    line-height: 1.5;
    margin-left: 1.5rem;
    margin-top: 1.2rem


}
.button2 {
    position: relative;
    border: 0;
    display: inline-block;
    width: 12rem;
    height: auto;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    background: transparent;
}

.text{
    position:absolute;
    inset:0;
    padding:0.45rem 0;
    margin-left: 1.8rem;
    color: black;
    line-height: 1.6;
    text-align: center;
    transition: all 0.4s ease-in-out;
}

.circle{
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: black;
    border-radius: 1.625rem;
    transition: all 0.4s ease-in-out
}

.icon{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: white;
}

.arrow {
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
    transition: all 0.4s ease-in-out
}

.arrow::before{
    content: "";
    position: absolute;
    top: -0.3rem;
    right: .0625rem;
    width: .625rem;
    height: 0.625rem;
    border-top: .125rem solid white;
    border-right: 0.125rem solid white;
    transform: rotate(45deg);
}

button:hover .circle{
    width:100%;

}

button:hover .arrow{
    background: white;
    transform: translateX(1rem);
}

button:hover .text{
    color: white
}
